<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <title>Login</title>
</head>
<body>
    <div class = "login">
        <form th:action="@{/login}" method="post" class="form">
            <label class="form-field-name">Name</label>
            <input class="form-field" name="username" type="text" placeholder="Username" required>
            <label class="form-field-name">Password</label>
            <input class="form-field" name="password" type="password" placeholder="Password" required>
            <input class="form-button" type="submit" value="Login"/>
            <a class="subscribe-link" th:href="@{/subscribe/view}">Not subscribed?</a>
        </form>
        <div th:if="${param.error}">
            Invalid username and password.</div>
        <div th:if="${param.logout}">
            You have been logged out.</div>
    </div>
</body>
</html>