<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/playlist.css}" />
    <title>Playlist</title>
</head>
<body>
    <div class = "playlist">
        <table class="carousel">
            <tr>
                <td>
                    <a class="link-button" th:if="${offset > 0}" th:href="@{'/playlist/view/' + ${userId} + '/' + ${playlistId} + '/' + ${offset - 1}}">Prev</a>
                </td>
                <td class="carousel-cell" th:each="track : ${tracks}" th:unless="${trackStat.index > 4}">
                    <a th:text="${track.title}" class="link-button" th:href="@{'/track/view/' + ${userId} + '/' + ${trackStat.index}}" ></a>
                </td>
                <td>
                    <a class="link-button" th:if="${offset < #lists.size(tracks)}" th:href="@{'/playlist/view/' + ${userId} + '/' + ${playlistId} + '/' + ${offset + 1}}">Next</a>
                </td>
            </tr>
        </table>
        <div>ciao</div>
    </div>
</body>
</html>