<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/playlist.css}" />
    <title>Playlist</title>
</head>
<body>
    <div class = "playlist">
        <table class="carousel">
            <tr>
                <td>
                    <a class="link-button" th:if="${offset > 0}" th:href="@{'/playlist/view/' + ${userId} + '/' + ${playlistId} + '/' + ${offset - 1}}">Prev</a>
                </td>
                <td class="carousel-cell" th:each="track : ${tracks}" th:unless="${trackStat.index > 4}">
<!--                    <div th:if="${tracksCovers[trackStat.index]} != null">-->
<!--                        <img th:src="${track.imagePath}" th:alt="${track.title}"/>-->
                    <img th:src="${track.imagePath}"/>
<!--                    </div>-->
                    <a th:text="${track.title}" class="link-button" th:href="@{'/track/view/' + ${userId} + '/' + ${trackStat.index}}" ></a>
                </td>
                <td>
                    <a class="link-button" th:if="${offset < #lists.size(tracks)}" th:href="@{'/playlist/view/' + ${userId} + '/' + ${playlistId} + '/' + ${offset + 1}}">Next</a>
                </td>
            </tr>
        </table>
        <form th:if="${#lists.size(tracksNotInPlaylist) != 0}" th:action="@{/playlist/add_track_to_playlist}" method="post" th:object="${playlistForm}" class="form">
            <table class="form-tracks-list">
                <tr>
                    <th></th>
                    <th>Track title</th>
                    <th>Track album</th>
                </tr>
                <tr th:each="track : ${tracksNotInPlaylist}">
                    <td><input type="checkbox"
                               th:field="*{selectedTracks}" th:value="${track.id}"></td>
                    </td>
                    <td><span th:text="${track.title}"> Title </span></td>
                    <td><span th:text="${track.albumTitle}"> Author </span></td>
                </tr>
            </table>
            <input class="form-button" type="submit"/>
        </form>
    </div>
</body>
</html>