<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <title>Subscribe</title>
</head>
<body>
    <div class = "login">
        <form th:action="@{/subscribe/subscribe}" method="post" th:object="${userForm}" class="form">
            <label class="form-field-name">Name</label>
            <input class="form-field" type="text" th:field="*{name}" placeholder="Username" required>
            <label class="form-field-name">Surname</label>
            <input class="form-field" type="text" th:field="*{surname}" placeholder="Username" required>
            <label class="form-field-name">Username</label>
            <input class="form-field" type="text" th:field="*{username}" placeholder="Username" required>
            <label class="form-field-name">Password</label>
            <input class="form-field" type="text" th:field="*{password}" placeholder="Password" required>
            <input class="form-button" type="submit"/>
        </form>
    </div>
</body>
</html>