<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/track.css}" />
    <title>Track</title>
</head>
<body>
    <div class = "track">
        <div class="track-content">
            <div class="album-cover">
                <img class="track-cover" th:src="@{'/file/' + ${track.imagePath}}" th:alt="${track.title}"/>
            </div>
            <div class="attribute-name">Title:</div>
            <div class="attribute" th:text="${track.title}"></div>
            <div class="attribute-name">Author:</div>
            <div class="attribute" th:text="${track.author}"></div>
            <div class="attribute-name">Album title:</div>
            <div class="attribute" th:text="${track.albumTitle}"></div>
            <div class="attribute-name">Publication year:</div>
            <div class="attribute" th:text="${track.albumPublicationYear}"></div>
            <div class="attribute-name">Genre: </div>
            <div class="attribute" th:text="${track.genre}"></div>
            <audio controls>
                <source th:src="@{'/file/' + ${track.filePath}}" th:alt="${track.title}"/>
            </audio>
        </div>
    </div>
</body>
</html>