.playlist {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    text-align: center;
    align-items: center;
}

.carousel-cell {
    width: 20%;
}

.missing-tracks-list {
    width: 100%;
    align-items: center;
    background-color: grey;
}

.form-button {
    grid-column: span 2;
}

.form {
    align-items: center;
    justify-content: center;
}

