.playlist {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    text-align: center;
    align-items: center;
}

.link-button {
    grid-column: span 1;
}

.link-button:hover {
    grid-column: span 1;
}

.playlist-track-cover {
    object-fit: scale-down;
    width: 100%;
    max-height: 100%;
}