:root {
    --padding: 0.5em;
    --margin: 0.5em;
    --border-radius: 5px;
}

@font-face {
    font-family: "SpaceMono";
    src: url("./fonts/SpaceMono-Regular.ttf");
}

html,
body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}

* {
    font-family: SpaceMono;
    font-size: 16px;
    color: white;
}

input[type=file]::file-selector-button {
    font-family: SpaceMono;
    margin-right: 1em;
    border: none;
    background: yellow;
    padding: var(--padding);
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type=file]::file-selector-button:hover {
    background-color: orange;
}

option {
    color: black;
}

option:hover {
    background-color: orange;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.form-field, .form-field-name, .form-field-file {
    display: flex;
    padding: var(--padding);
    margin: var(--margin);
}

.form-field-file {
    background-color: transparent;
}

.form-field {
    border-radius: var(--border-radius);
    color: black;
    background-color: #FFFF99;
    border: none;
}

.subscribe-link {
    color: yellow;
    padding: var(--padding);
    cursor: pointer;
}

.form-button, button, .link-button {
    display: flex;
    grid-column: span 2;
    background-color: yellow;
    color: black;
    text-align: center;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    padding: var(--padding);
    margin: var(--margin);
}

.form-button:hover, button:hover, .link-button:hover {
    display: flex;
    grid-column: span 2;
    background-color: orange;
    border: none;
}

.link-button {
    text-decoration: none;
    text-align: center;
}

.track-cover {
    object-fit: scale-down;
    width: 100%;
    max-height: 100%;
}

.form-tracks-list {
    grid-column: span 2;
    width: 100%;
    max-height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    justify-content: center;
    justify-items: center;
    align-items: center;
    overflow-y: scroll;
}

.form-tracks-list-body {
    grid-column: span 2;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}