.track {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.track-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 20px;
    height: 50vh;
    width: 90vw;
    margin: 0;
    padding: 0;
}

.album-cover {
    display: flex;
    grid-row: span 5;
}

.attribute {
    display: flex;
}

.attribute-name {
    display: flex;
    font-weight: bold;
}

.link-button {
    grid-column: span 3;
}