<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/playlist.css}" />
    <title>Playlist</title>
</head>
<body>
    <div class = "playlist">
        <div class="carousel">
            <a class="link-button" th:if="${offset * 5 > 0}" th:href="@{'/playlist/view/' + ${userId} + '/' + ${playlistId} + '/' + ${offset - 1}}">Prev</a>
            <div th:unless="${offset * 5 > 0}"></div>
            <div class="carousel-cell" th:each="track : ${tracks}" th:unless="${trackStat.index > 4}">
                <img class="track-cover" th:src="@{'/file/' + ${track.imagePath}}"/>
                <a th:text="${track.title}" class="link-button" th:href="@{'/track/view/' + ${userId} + '/' + ${track.id}}" ></a>
            </div>
            <a class="link-button" th:if="${(offset + 1) * 5 < playlistSize and playlistSize > 5}" th:href="@{'/playlist/view/' + ${userId} + '/' + ${playlistId} + '/' + ${offset + 1}}">Next</a>
            <div th:unless="${(offset + 1) * 5 < playlistSize and playlistSize > 5}"></div>
        </div>
        <form th:if="${#lists.size(tracksNotInPlaylist) != 0}" th:action="@{/playlist/add_track_to_playlist}" method="post" th:object="${playlistForm}" class="form">
            <table class="form-tracks-list">
                <tr>
                    <th></th>
                    <th>Track title</th>
                    <th>Track album</th>
                </tr>
                <tr th:each="track : ${tracksNotInPlaylist}">
                    <td><input type="checkbox"
                               th:field="*{selectedTracks}" th:value="${track.id}"></td>
                    </td>
                    <td><span th:text="${track.title}"> Title </span></td>
                    <td><span th:text="${track.albumTitle}"> Author </span></td>
                </tr>
            </table>
            <input class="form-button" type="submit"/>
        </form>
    </div>
</body>
</html>