<div th:fragment="load_track" class="load-track" xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/home/add_track}" method="post" enctype="multipart/form-data" th:object="${trackForm}" class="form">
        <label class="form-field-name">Title</label>
        <input class="form-field" type="text" th:field="*{title}" placeholder="Title" required>
        <label class="form-field-name">File path</label>
        <input class="form-field-file" name="audio" type="file" accept="audio/*" th:field="*{file}" placeholder="File Path" required>
        <label class="form-field-name">Image path</label>
        <input class="form-field-file" name="image" type="file" accept="image/*" th:field="*{image}" placeholder="Image Path" required>
        <label class="form-field-name">Author</label>
        <input class="form-field" type="text" th:field="*{author}" placeholder="Author" required>
        <label class="form-field-name">Album title</label>
        <input class="form-field" type="text" th:field="*{albumTitle}" placeholder="Album Title" required>
        <label class="form-field-name">Album publication year</label>
        <select class="form-field" th:field="*{albumPublicationYear}">
            <option th:each="i : ${#numbers.sequence(1900,2026)}" th:value="${i}" th:text="${i}"></option>
        </select>
<!--        <input class="form-field" type="number" th:field="*{albumPublicationYear}" required>-->
        <label class="form-field-name">Genre</label>
        <select class="form-field" th:field="*{genre}">
            <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
        </select>
        <input class="form-button" type="submit"/>
    </form>
</div>