<div th:fragment="load_playlist" class="load-playlist">
    <form th:action="@{/home/add_playlist}" method="post" th:object="${playlistForm}" class="form">
        <label class="form-field-name">Title</label>
        <input class="form-field" type="text" th:field="*{title}" placeholder="Title" required>
        <table class="form-tracks-list">
            <tr>
                <th></th>
                <th>Track title</th>
                <th>Track album</th>
            </tr>
            <tr th:each="track : ${tracks}">
                <td><input type="checkbox"
                           th:field="*{selectedTracks}" th:value="${track.id}"></td>
                </td>
                <td><span th:text="${track.title}"> Title </span></td>
                <td><span th:text="${track.albumTitle}"> Author </span></td>
            </tr>
        </table>
        <input class="form-button" type="submit"/>
    </form>
</div>